:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --first-btn-color: #f5f4fa;
  --hover-btn-color: #188ce8;
  --main-light-color: #ffffff;
  --primary-bg-color: #2f303a;
  --logo-text-color: #000000;
  --border-line-color: #eeeeee;
  --head-border-color: #ececec;
  --item-space-gap: 30px;
  --first-icon-color: #afb1b8;
  --background-icon-color: rgba(255, 255, 255, 0.1);
  --address-main-color: rgba(255, 255, 255, 0.6);
  --thumb-hover-color: rgba(33, 150, 243, 0.9);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  color: var(--primary-text-color);
  background-color: var(--main-light-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.list {
  list-style: none;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
}
.nav-link:hover,
.nav-link:focus,
.contact:hover,
.contact:focus,
.address-link.map:hover,
.address-link.map:focus,
.nav-link,
.nav-link.current,
.logo-part {
  color: var(--accent-color);
}
.color {
  color: var(--title-text-color);
}

.btn {
  display: inline-block;
  font-size: 16px;
  border: transparent;
  border-radius: 4px;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
}

/* header */
.header {
  border-bottom: 1px solid var(--head-border-color);
}
.header-main,
.nav {
  display: flex;
  align-items: center;
}
.header-logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.header-logo {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--logo-text-color);
}
.nav-list {
  display: flex;
  margin-left: 93px;
}
.header-contacts {
  display: flex;
  margin-left: auto;
}
.nav-list .nav-item + .nav-item,
.header-contacts .header-item + .header-item {
  margin-left: 50px;
}
.nav-item {
  position: relative;
}
.current::before {
  position: absolute;
  bottom: 0;
  right: 0;

  content: '';
  min-width: 100%;
  min-height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}
.nav-link,
.header-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-link {
  color: inherit;
}
.header-icon {
  margin-right: 10px;
  fill: currentColor;
}
/* Hero  */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-top: 0;
  background-color: var(--primary-bg-color);
}
.hero-main {
  max-width: 696px;
}
.hero-title {
  margin-bottom: var(--item-space-gap);

  color: var(--main-light-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  min-width: 200px;
  padding: 10px 32px;

  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--main-light-color);
  background-color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-btn-color);
}
/* Benefits */
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--item-space-gap));
}
.benefits-item {
  flex-basis: calc(100% / 4 - var(--item-space-gap));
  margin-left: var(--item-space-gap);
}
.benefits-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--item-space-gap);

  min-width: 270px;
  min-height: 120px;
  background: var(--first-btn-color);
  border-radius: 4px;
}
.benefits-subtitle {
  margin-bottom: 10px;

  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}
/* Developments */
.developments {
  padding-bottom: 94px;
}
.developments-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(-1 * var(--item-space-gap));
  margin-left: calc(-1 * var(--item-space-gap));
}
.developments-item {
  flex-basis: calc(100% / 3 - var(--item-space-gap));
  margin-left: var(--item-space-gap);
  margin-bottom: var(--item-space-gap);
}
.developments-title {
  margin-bottom: 50px;
}
.development-thumb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.development-thumb::before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';

  width: 100%;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.development-subtitle {
  position: absolute;
  bottom: 27px;

  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  color: var(--main-light-color);
}
/* Our-team */
.our-team {
  background: var(--first-btn-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(-1 * var(--item-space-gap));
  margin-left: calc(-1 * var(--item-space-gap));
}
.team-item {
  flex-basis: calc(100% / 4 - var(--item-space-gap));
  margin-left: var(--item-space-gap);
  margin-bottom: var(--item-space-gap);

  text-align: center;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  margin-bottom: 50px;
}
.team-content {
  padding: var(--item-space-gap) 32px;
}
.team-positions,
.team-name {
  line-height: 1.18;
  font-size: 16px;
}
.team-name {
  margin-bottom: 10px;

  font-weight: 500;
}
.team-positions {
  margin-bottom: 16px;
}
.team-icon-list .team-icon-item + .team-icon-item {
  margin-left: 10px;
}
.team-icon-list {
  display: flex;
  list-style: none;
}
.team-link {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 44px;
  min-height: 44px;
  border-radius: 50%;
  color: var(--first-icon-color);
}
.team-link:hover,
.team-link:focus {
  background-color: var(--accent-color);
  color: var(--main-light-color);
}
.team-icon {
  fill: currentColor;
}

/* CLIENTS */
.clients-title {
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--item-space-gap));
}
.clients-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: var(--item-space-gap);
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  min-height: 92px;

  border: 1px solid var(--first-icon-color);
  border-radius: 4px;
  color: var(--first-icon-color);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
.clients-icon {
  fill: currentColor;
}

/* filter catalog */
.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list .filter-item + .filter-item {
  margin-left: 8px;
}
.filter-btn {
  min-width: 73px;
  padding: 6px 22px;
  margin-top: 0;

  background: var(--first-btn-color);
  line-height: 1.6;
  font-weight: 500;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--main-light-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-current {
  color: var(--main-light-color);
  background-color: var(--accent-color);
}
/* Portfolio catalog */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(-1 * var(--item-space-gap));
  margin-left: calc(-1 * var(--item-space-gap));

  background: var(--main-light-color);
}
.portfolio-item {
  flex-basis: calc(100% / 3 - var(--item-space-gap));
  margin-left: var(--item-space-gap);
  margin-bottom: var(--item-space-gap);

  border-bottom: 1px solid var(--border-line-color);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-thumb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-thumb::before {
  display: inline-block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: var(--thumb-hover-color);
  opacity: 0;
}
.portfolio-text {
  position: absolute;

  max-width: 322px;
  max-height: 168px;
  display: inline-block;
  font-size: 18px;
  line-height: 1.55;
  color: var(--main-light-color);
  opacity: 0;
}

.portfolio-link:hover .portfolio-thumb::before,
.portfolio-link:focus .portfolio-thumb::before,
.portfolio-link:hover .portfolio-text,
.portfolio-link:focus .portfolio-text {
  opacity: 1;
}
.portfilio-content {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-line-color);
  border-left: 1px solid var(--border-line-color);
  border-right: 1px solid var(--border-line-color);
}

.portfolio-link {
  display: inline-block;
  text-decoration: none;
  font-style: inherit;
  color: inherit;
}

.portfolio-subtitle {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-info {
  font-size: 16px;
  line-height: 1.8;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--primary-bg-color);
}
.footer-main {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  margin-bottom: 20px;
}
.address-link {
  color: var(--address-main-color);
}
.footer-logo,
.address-link.map {
  color: var(--main-light-color);
}
.footer-logo,
.address-link,
.footer-address {
  display: flex;
  text-decoration: none;
  font-style: inherit;
}
.footer-logo {
  display: inline-block;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-join {
  min-width: 206px;
  margin-left: 70px;
}
.join-text {
  margin-bottom: 20px;
  color: var(--main-light-color);
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 700;
}
.join-list {
  display: flex;
}
.join-list .join-item + .join-item {
  margin-left: 10px;
}
.join-link {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 44px;
  min-height: 44px;
  border-radius: 50%;
  background: var(--background-icon-color);
  color: var(--main-light-color);
}
.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}
.join-icon {
  fill: currentColor;
}
